@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {margin:0; padding:0;}
html{font-size:16px;}
body{font-size:16px;
     color:#222;
     font-family: 'Noto Sans KR', sans-serif; font-weight: 300;}
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both; border:none;}
a {color:inherit;text-decoration:none;
   outline:0;}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {color:inherit;font-size:inherit;
                                           font-family:inherit;
                                           vertical-align: middle}
button{outline:0; border:none;}

.soung_only{display:block; text-indent:-99999999999px; height:0;}

.bold{font-weight: bold;}


/*공통영역*/
#wrap{width:100%;overflow:hidden;}
.inner{width:1280px; margin:0 auto;}

.bg1{background:url(../images/back1.png) no-repeat;height:1080px;}
.bg2{background:url(../images/back2.png) no-repeat;height:1080px;}
.bg3{background:url(../images/back3.png) no-repeat;height:1080px;}
.bg4{background:url(../images/back4.png) no-repeat;height:1080px;}
.bg5{background:url(../images/back5.png) no-repeat;height:305px;}


/****네비영역****/

#header .nav{position: fixed; top:55px; left:30px;}
#header .nav li{float:left; padding-right:30px;}
#header .nav .bar1{}