@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {margin:0; padding:0;}
html{font-size:16px;}
body{font-size:16px;
     color:#222;
     font-family: 'Noto Sans KR', sans-serif; font-weight: 300;}
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both; border:none;}
a {color:inherit;text-decoration:none;
   outline:0;}
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {color:inherit;font-size:inherit;
                                           font-family:inherit;
                                           vertical-align: middle}
button{outline:0; border:none;}

.soung_only{display:block; text-indent:-99999999999px; height:0;}

.bold{font-weight: bold;}


/*공통영역*/

#header .logo{position:absolute; top:76px; left:861px;}

#wrap{width:100%;overflow:hidden; min-width:1024px;}
.inner{width:1280px; margin:0 auto;}

.bg1{background:url(../images/back01.png) no-repeat center;height:1080px; width:100%;}
.bg2{background:url(../images/back2.png) no-repeat center;height:1080px; width:100%;}
.bg3{background:url(../images/back3.png) no-repeat center;height:1080px; width:100%;}
.bg4{background:url(../images/back4.png) no-repeat center;height:1080px; width:100%;}
.bg5{background:url(../images/back5.png) no-repeat center;height:305px; width:100%;}

#popup{text-align:center;
   position:absolute; top:300px; left:50% - 300px;
       z-index:99999999;
      /*display:none;*/}
#popup button{background: none; cursor: pointer; position: absolute; top:30px; right:40px;}
#popup p{margin-bottom:50px; color:#333;}

/****네비영역****/
#nav{width:100%; height:100px;
   position: fixed; top:0px; left:0px; z-index:99999999;
   transition:0.5s;}

#header .list{padding-top:35px;}
#header .list li{float:left; padding-right:30px; font-size:1.125rem;}
#header .list .burger_button{margin-right:50px; margin-left:35px;
                            padding-top:10px; cursor: pointer;}
#header .list .bar1{width:30px; height:2px; background-color: #222;}
#header .list .bar2{width:20px; height:2px; background-color: #222;
                   margin-top:4px;}
#header #nav .list .language span{font-size:0.875rem; border:1px solid #bbb;
                                  padding:3px 5px; border-left:none; transition:0.5s;
                                 cursor: pointer;}
#header #nav .list .language span:hover{background-color:#444; color:#fff;}
#header #nav .list .language span:first-child{border-left:1px solid #bbb;}




#nav_pop{position:fixed;
        width:100%; min-width:1024px; height:1080px;
        overflow:auto;
        background: url(../images/navpop_back.png) no-repeat center;
        z-index:999999999;
        display:none;}
#nav_pop .nav_pop_close{display: inline-block; padding-left:35px; padding-top:35px;
                        cursor: pointer;}
#nav_pop .navpop_inner{width:1280px; min-width:1024px; margin:0 auto;}
#nav_pop h1{font-size:5.7rem; display:block;
            border-bottom:1px solid #aaa;
            padding-bottom:10px;}
#nav_pop .depth1 > li{margin-bottom:20px;
                      height:calc((100% - 80px) / 5);}
#nav_pop .depth1 > li:first-child{padding-top:20px;}
#nav_pop .depth2 >li{float:left; font-size:1.25rem;
                     margin-right:100px; margin-top:5px;
                     transition:0.5s;}
#nav_pop .depth2 >li:hover{font-weight:bold;}

#nav_pop .check{color:#FF9595;}
#nav_pop .check2{border-bottom:1px solid #222;}


/*sec5*/
#sec5 .sns > li{float:left;}
#sec5 .sns .sns_tit{margin-left:150px; margin-top:50px;}
#sec5 .sns_img{margin-top:70px; margin-left:110px;}
#sec5 .sns_img a{margin-right:50px;}

#sec5 .sns_img img{transition:0.5s;}
#sec5 .sns_img img:hover{transform: rotate(-20deg);}


/*********************footer****************************/

#footer{width:100%; height:207px; background-color: #FF9595;
   text-align: center; color:#fff;}
#footer ul {margin-left:166px; padding-top:40px; padding-bottom:30px;}
#footer ul li{float:left;padding-right:15px; padding-left:15px;}
#footer span{line-height:10px; margin-right:15px;}
#footer span:nth-child(2), #footer span:nth-child(5){margin-right:none;}
#footer .copy{font-weight:bold; margin-top:20px;}